/* General styling */
/* Heading styling */
.login,
.intro {
  /* code comes here */
}
.intro-slider-row {
  height: 30vh;
}

/* Store sections styling */
.jewelry-col {
  margin: 10px;
  height: 300px;
}

/* About section styling */
.about-intro-col {
  height: 200px;
  margin: 10px;
}

/* Newsletter section styling */
.newsletter-h2 {
  display: inline;
}
/* Heading nav styling */
